user.config
/engine/**

# Modified Engine Files
!/engine/**/
!/engine/OpenRA.Game/Game.cs
!/engine/OpenRA.Mods.Common/Activities/DeliverResources.cs
!/engine/OpenRA.Mods.Common/Traits/Harvester.cs
!/engine/OpenRA.Mods.Common/Traits/Buildings/Refinery.cs

# Visual Studio
Release
bin
obj
*.ncb
*.vcproj*
*.suo
*.user
*.sln.cache
*.manifest
*.CodeAnalysisLog.xml
*.lastcodeanalysissucceeded
_ReSharper.*/
/.vs

# Visual Studio Code
/.vscode/settings.json

# backup files by various editors
*~
*.orig
\#*
.*.sw?

# Monodevelop
*.pidb
*.userprefs

# Mac OS X
.DS_Store

# SublimeText
*.sublime-project
*.sublime-workspace

# NUnit
/TestResult.xml
/lib/

# Support directory
/Support

# IntelliJ files
.idea
